<h1>Edit an existing Cat!</h1>

<%= render 'form' %>

<%= link_to("Back to Cats Index", cats_url) %>
<br>
<% if current_user == @cat.owner %>
<%= link_to("Destroy Cat", cat_url(@cat), method: "delete", confirm: "Are you sure you want to delete this cat?") %>
<% end %>